In [23]:
# Question 1: Create a list of first 10 square numbers
print("List of first 10 square numbers: ")
for i in range(1, 11):
    square = i ** 2
    print(square, end=",")

List of first 10 square numbers:
1,4,9,16,25,36,49,64,81,100,

In [24]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0

for num in numbers:
    if num % 2 == 0:
        sum += num
print(f"Sum of all even numbers {sum}")

Sum of all even numbers 30

In [25]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_list = []

for num in numbers:
    if num not in unique_list:
        unique_list.append(num)
        
print(f"Afer removing duplicates : {unique_list}")

Afer removing duplicates : [1, 2, 3, 4, 5, 6, 7]

In [8]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

list1 = [64, 34, 25, 12, 22, 11, 90]
list1.sort(reverse=True)
        
print(f"Sorted list in decending order : {list1}")

Sorted list in decending order : [90, 64, 34, 25, 22, 12, 11]

In [9]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

list1 = [64, 34, 25, 12, 22, 11, 90]
sorted_list = sorted(list1, reverse=True)
        
print(f"Sorted list in decending order : {sorted_list}")

Sorted list in decending order : [90, 64, 34, 25, 22, 12, 11]

In [1]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

num_list = [15, 23, 31, 42, 56, 78, 91]
total = 0
for num in num_list:
    total += num
    average = total / len(num_list)
    
print(f"Total sum : {total}")
print(f"Average : {average}")

Total sum : 336
Average : 48.0

In [3]:
# Question 6: Create a list of first 15 Fibonacci numbers

n_terms = 15
n1, n2 = 0, 1
count = 0

print("Fibonacci sequence:")
while count < n_terms:
    print(n1, end=" ")
    # Calculate the next term
    nth = n1 + n2
    # Update values for the next iteration
    n1 = n2
    n2 = nth
    count += 1

Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [2]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

list1 = [45, 67, 23, 89, 12, 34, 78]

sorted_list = sorted(list1, reverse= True)
second_largest = sorted_list[1]

max_num = max(list1)
list1.remove(max_num)
second_largest_alt = max(list1)

print(f"Second largest number : {second_largest}")

Second largest number : 78

In [3]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reverse_list = list1[::-1]

print(f"Reversed list : {reverse_list}")

Reversed list : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

list1 = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count_1 = list1.count(5)

print(f"Coount of 5 : {count_1}")

Coount of 5 : 4

In [18]:
# Question 10: Create a list of prime numbers between 1 and 50

prime_num = []

for i in range(2,51):
    is_prime = True
    for j in range(2, int(i ** 0.5) + 1):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        prime_num.append(i)
        
print(f"List of prime numbers : {prime_num}")

List of prime numbers : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [17]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten_list = []

for sublist in list1:
    flatten_list.extend(sublist)

print(f"Flatten nested list : {flatten_list}")

Flatten nested list : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = list(set(list1) & set(list2))

print(f"Common elements : {common_elements}")

Common elements : [4, 5]

In [15]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = [x for x in list1 if x in list2]

print(f"Common elements : {common_elements}")

Common elements : [4, 5]

In [22]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

list1 = [1, 2], [3, 4], [5, 6]
list_of_list = [[i, i + 1]for i in range(1, 6, 2)]

print(f"List of list : {list_of_list}")

List of list : [[1, 2], [3, 4], [5, 6]]

In [32]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum_of_each_list = []

for l in my_list:
    total = sum(l)
    sum_of_each_list.append(total)

print(f"Sum of each sublist : {sum_of_each_list}")

Sum of each sublist : [6, 15, 24]

In [ ]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = [[row[i] for row in matrix] for i in range(len(matrix[0]))]

print(f"Transpose of matrix : {transpose}")

Transpose of matrix : [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [82]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

my_list = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

print(f"Maximum value in each sublist of {my_list} : ")
for l in my_list:
    max_num = max(l)
    print(max_num, end= " ")

Maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]] :
5 9 8

In [ ]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

my_list = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
list_3D = my_list
print(f"3D list : {list_3D[1][1][0]}")

3D list : 7

In [78]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

my_list = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
total_sum = sum(element for sublist2d in my_list for sublist1d in sublist2d for element in sublist1d)
print(f"Sum of all elements in 3D list : {total_sum}")

Sum of all elements in 3D list : 36

In [77]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
even_num = [num for sublist in my_list for num in sublist if num % 2 == 0]
print(f"All even numbers from nested list {my_list} : {even_num}")

All even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]] : [2, 4, 6, 8]

In [76]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]

my_list = [1, "hello", 3.14, True, [1, 2, 3]]

for item in my_list:
    print(f"Value : {item} , Type : {type(item)}")

Value : 1 , Type : <class 'int'>
Value : hello , Type : <class 'str'>
Value : 3.14 , Type : <class 'float'>
Value : True , Type : <class 'bool'>
Value : [1, 2, 3] , Type : <class 'list'>

In [11]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]

my_list = ["apple", "banana", "cherry", "date"]

for fruit in my_list:
    print(f"Length of {fruit} : {len(fruit)}")

Length of apple : 5
Length of banana : 6
Length of cherry : 6
Length of date : 4

In [9]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

numbers = [1, 2, 3]
letters = ['a', 'b', 'c']
tuple_list = list(zip(numbers, letters))
print(f"List of tuple : {tuple_list}")

List of tuple : [(1, 'a'), (2, 'b'), (3, 'c')]

In [75]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

my_list = [(1, 'a'), (2, 'b'), (3, 'c')]
print("First element from each tuple : \n")
for i in my_list:
    print(i[0])

First element from each tuple :

1
2
3

In [ ]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

my_list = [
    {'name': 'Alice', 'age': 25}, 
    {'name': 'Bob', 'age': 30}
]

print(f"List of dictionaries : {my_list}")

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [10]:
# Question 25: Extract all 'name' values from list of dictionaries

my_list = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
names = [person['name'] for person in my_list]
print(f"Names : {names}")

Names : ['Alice', 'Bob']

In [11]:
# Question 26: Find the person with maximum age in list of dictionaries

my_list = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
oldest_person = max(my_list, key= lambda x : x ['age'])
print(f"Person with maximum age : {oldest_person['name']}")

Person with maximum age : Bob

In [12]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

# A 4D list: 2x2x2x2 structure
four_d_list = [
    [
        [[1, 2], [3, 4]], 
        [[5, 6], [7, 8]]
    ], 
    [
        [[9, 10], [11, 12]], 
        [[13, 14], [15, 16]]
    ]
]

print(four_d_list)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [19]:
# Question 28: Find the maximum value in 4D list

list_4d = [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
max_value = [val for sub3 in list_4d for sub2 in sub3 for sub1 in sub2 for val in sub1]
print(f"Maximum value in 4D list : {max(max_value)}")

Maximum value in 4D list : 16

In [7]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
list_of_sets = [
     {1, 2, 3},
     {4, 5, 6},
     {7, 8, 9}
 ]
print(f"List of sets : {list_of_sets}")

List of sets : [{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [6]:
# Question 30: Find the union of all sets in list of sets

list1 = [{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]
union_set = set()
for s in list1:
    union_set |= s
print(f"Union of all sets : {union_set}")

Union of all sets : {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]

complex_numbers = [1+2j, 3+4j, 5+6j]
print(f"Complex numbers : {complex_numbers}")

Complex numbers : [(1+2j), (3+4j), (5+6j)]

In [7]:
# Question 32: Find the magnitude of each complex number in list

complex_numbers = [1+2j, 3+4j, 5+6j]
magnitude = [abs(z) for z in complex_numbers]
print(f"Magnitude of complex numbers : {magnitude}")

Magnitude of complex numbers : [2.23606797749979, 5.0, 7.810249675906654]

In [5]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]

nested_list = [1, [2, 3], [4, [5, 6]], 7] # List inside list is called nested list

print(f"Nested list : {nested_list}")

Nested list : [1, [2, 3], [4, [5, 6]], 7]

In [74]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]

nested_list = [1, [2, 3], [4, [5, 6]], 7]
stack = [(nested_list, 1)]
max_depth = 0

while stack:
    current_list, depth = stack.pop()
    max_depth = max(max_depth, depth)
    
    for i in current_list:
        if isinstance(i, list):
            stack.append((i, depth + 1))
            
print(f"Depth of nesting in {nested_list} : {max_depth}")

Depth of nesting in [1, [2, 3], [4, [5, 6]], 7] : 3

In [4]:
# Question 35: Create a list of functions: [len, str, int, float]

func_list = [len, str, int, float, bool, True, False, tuple, list, set, dict, type]
print(f"List of functions : {func_list}")

List of functions : [<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>, <class 'bool'>, True, False, <class 'tuple'>, <class 'list'>, <class 'set'>, <class 'dict'>, <class 'type'>]

In [69]:
# Question 36: Apply each function in list to string "123"

func_list = [len, str, int, float, bool, tuple, list, set, type]
value = "123"

print("Apply each function in list to string '123'\n")
for func in func_list:
    print(func(value))

Apply each function in list to string '123'

3
123
123
123.0
True
('1', '2', '3')
['1', '2', '3']
{'3', '2', '1'}
<class 'str'>

In [66]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]

lambda_func = [
    lambda x: x*2, 
    lambda x: x**2, 
    lambda x: x+1
]

print(f"List of lambda functions : {lambda_func}")

List of lambda functions : [<function <lambda> at 0x0000016F800B5C70>, <function <lambda> at 0x0000016F800B4F60>, <function <lambda> at 0x0000016F800B5220>]

In [19]:
# Question 38: Apply each lambda function to 5

lambda_func = [
    lambda x: x*2, 
    lambda x: x**2, 
    lambda x: x+1
]
value = 5

for func in lambda_func:
    print(f"Lambda function to {value} : {func(value)}")

Lambda function to 5 : 10
Lambda function to 5 : 25
Lambda function to 5 : 6

In [65]:
# Question 39: Create a list of classes: [list, dict, set, tuple]

list_classes = [list, dict, set, tuple]
print(f"List of classes : {list_classes}")

List of classes : [<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [64]:
# Question 40: Create instances of each class in list

list_classes = [list, dict, set, tuple]
instances = []

for cls in list_classes:
    instances.append(cls())
    
print(f"Instances of class in list : {instances}")

Instances of class in list : [[], {}, set(), ()]

In [63]:
# Question 41: Create a list of None values: [None, None, None, None]

none_list = [None, None, None, None]

print(f"List of None values : {none_list}")

List of None values : [None, None, None, None]

In [62]:
# Question 42: Replace all None values with 0 in list

none_list = [None, None, None, None]

for i in range(len(none_list)):
    if none_list[i] is None:
        none_list[i] = 0

print(f"Replaced all None values with 0 in list : {none_list}")

Replaced all None values with 0 in list : [0, 0, 0, 0]

In [61]:
# Question 43: Create a list of boolean values: [True, False, True, False]

bool_val = [True, False, True, False]

print(f"List of boolean values : {bool_val}")

for i in bool_val:
    print(type(i))

List of boolean values : [True, False, True, False]
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [42]:
# Question 44: Count True values in boolean list

bool_val = [True, False, True, False]
count = 0
for i in bool_val:
    if i is True:
        count += 1
        
print(f"True values : {count}")

True values : 2

In [60]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]

range_list = [range(3), range(5), range(2)]

print(f"List of ranges : {range_list}")

for i in range_list:
    print(type(i))

List of ranges : [range(0, 3), range(0, 5), range(0, 2)]
<class 'range'>
<class 'range'>
<class 'range'>

In [59]:
# Question 46: Convert each range to list

range_list = [range(3), range(5), range(2)]
list_of_lists = []

for i in range_list:
    list_of_lists.append(list(i))
    
print(f"Range to list : {list_of_lists}")

Range to list : [[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [58]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]

list_of_generators = [(x for x in range(3)), (x for x in range(5))]

print(f"List of generators : {list_of_generators}")

for i in list_of_generators:
    print(type(i))

List of generators : [<generator object <genexpr> at 0x0000016F8012E9B0>, <generator object <genexpr> at 0x0000016F8012C5F0>]
<class 'generator'>
<class 'generator'>

In [57]:
# Question 48: Convert each generator to list

list_of_generators = [(x for x in range(3)), (x for x in range(5))]
generator_list = []

for i in list_of_generators:
    generator_list.append(list(i))
    
print(f"Generator to list : {generator_list}")

Generator to list : [[0, 1, 2], [0, 1, 2, 3, 4]]

In [56]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]

list_of_iterators = [iter([1, 2, 3]), iter([4, 5, 6])]

print(f"List of iterators : {list_of_iterators}")

for i in list_of_iterators:
    print(type(i))

List of iterators : [<list_iterator object at 0x0000016FE376E2F0>, <list_iterator object at 0x0000016FE376C370>]
<class 'list_iterator'>
<class 'list_iterator'>

In [55]:
# Question 50: Extract all elements from each iterator

list_of_iterators = [iter([1, 2, 3]), iter([4, 5, 6])]
ext_elements = []

for i in list_of_iterators:
    for value in i:
        ext_elements.append(value)
    
print(f"All elements from each iterator : {ext_elements}")

All elements from each iterator : [1, 2, 3, 4, 5, 6]